.btn-change {
  height: 60px;
  width: 120px;
  background: lightseagreen;
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}
.btn-change:hover {
  -webkit-transform: scale(1.1);
  background: #33e29c;
}
.btn-change7 {
  height: 50px;
  width: 150px;
  background: #09cc7f;
  float: left;
  border: 0px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  box-shadow: 0px 0 0 #33e29c inset;
  border-radius: 2px;
  margin: 0 auto;
}
.btn-change7:hover {
  box-shadow: 100px 0 0 #33e29c inset;
}
